
body {
  background: rgb(79, 78, 78);
}
.card{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 520px;
  color: gold;
  background: rgba(255, 255, 255, 0.097);
  font-size: 3rem;
  border-radius: 10px;
  max-width: 30%;
}